{% extends "admin/base.html" %}
{% load static %}

{% block title %}
    Admin | Mouhamed Diouf
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            🚀 ADMIN <span style="color: #00e5ff;">PORTFOLIO</span>
        </a>
    </h1>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}