{% extends 'base.html' %}
{% load static %}

{% block title %}Accueil – Mouhamed Diouf{% endblock %}

{% block content %}
    <section id="accueil" class="hero-section split-layout">
        
        <div class="hero-content text-left">
            
            <div class="badge-container" data-aos="fade-down">
                <span class="greeting-badge">👋 Bonjour, je suis</span>
            </div>

            <h1 class="hero-title" data-aos="fade-right" data-aos-delay="200">
                Mouhamed <span class="highlight">DIOUF</span>
            </h1>

            <h2 class="hero-subtitle" data-aos="fade-right" data-aos-delay="400">
                Je suis <span class="typed-text highlight-green"></span>
            </h2>

            <p class="hero-description" data-aos="fade-up" data-aos-delay="600">
                De l'espace au terrain : je transforme la donnée spatiale en décision stratégique pour un développement durable.
            </p>

            <div class="cta-group align-left" data-aos="zoom-in-up" data-aos-delay="800">
                <a href="{% url 'projets' %}" class="btn btn-primary">
                    <i class="fa-solid fa-layer-group"></i> Mes Projets
                </a>
                <a href="{% url 'contact' %}" class="btn btn-secondary">
                    <i class="fa-solid fa-paper-plane"></i> Contact
                </a>
            </div>

            <div class="social-icons-hero" data-aos="fade-up" data-aos-delay="400">
    
    <a href="https://github.com/mouhameddiouf-collab" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
    </a>

    <a href="https://www.linkedin.com/in/mouhamed-diouf-ton-profil/" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
    </a>

    <a href="mailto:dioufmouhamed959@gmail.com" aria-label="Email">
        <i class="fas fa-envelope"></i>
    </a>

</div>

        <div class="hero-image-container" data-aos="fade-left">
    <div class="blob-shape"></div>
    <img src="{% static 'images/maphoto.jpg' %}" alt="Mouhamed Diouf" class="profile-pic profile-pic-animated">
</div>

    </section>
{% endblock %}